<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COPYRIGHT</key>
	<string></string>
	<key>WEBSITE</key>
	<string></string>
	<key>WEBSITE_URL</key>
	<string></string>
	<key>TWITTER</key>
	<string></string>
	<key>TWITTER_URL</key>
	<string></string>
	<key>EMAIL</key>
	<string></string>
	<key>APPSTORE_NAME</key>
	<string>Notes</string>
	<key>APPSTORE_URL</key>
	<string></string>
	<key>SHORT_URL</key>
	<string></string>
	<key>LOCATION</key>
	<string></string>
</dict>
</plist>
